<div class="panel panel-default">
  <div class="panel-heading">
    Show us your kitchen
  </div>
  <div class="panel-body">
    <div class="container">
      
      <%= form_for @room, :html => { multipart: true } do |f| %>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Party Type</label>
              <%= f.select :home_type, [["Dinner Party","Dinner Party"], ["Garden Party","Garden Party"], ["Gourmet BBQ","Gourmet BBQ"]], id: "home_type", prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Meal Type</label>
              <%= f.select :room_type, [["3 course","3 course"], ["Tasting Menu","Tasting Menu"], ["BBQ Food","BBQ Food"]],prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Number of Guests</label>
              <%= f.select :accommodate, [["4",4], ["6",6], ["8",8], ["10",10], ["12",12], ["14+",14]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Meal Preferences</label>
              <%= f.select :bed_room, [["Vegetarian","Vegetarian"], ["Meat", "Meat"], ["Seafood", "Seafood"], ["Paleo or Vegan", "Paleo or Vegan"]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Food Budget</label>
              <%= f.select :bath_room, [["$100-$200","$100-$200"], ["$200-$300", "$200-$300"], ["$300-$400","$300-$400"], ["$500+","$500+"]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>What kind of party are your hosting?</label>
            <%= f.text_field :listing_name, placeholder: "Be clear and descriptive", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Tell us about your hosting style</label>
            <%= f.text_area :summary, rows: 5, placeholder: "Tell about your house", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label>Address</label>
            <%= f.text_field :address, placeholder: "What is your address?", class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_tv %> Gas Stove
            </div>
            <div class="form-group">
              <%= f.check_box :is_kitchen %> Standard Oven
            </div>
            <div class="form-group">
              <%= f.check_box :is_internet %> BBQ
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.check_box :is_heating %> Kitchen Appliances
            </div>
            <div class="form-group">
              <%= f.check_box :is_air %> Microwave
            </div>
          </div>  
        </div>  

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Price you will pay per hour</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <%= f.text_field :price, placeholder: "eg. $100", class: "form-control" %>
              </div>  
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">              
              <span class="btn btn-default btn-file">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Kitchen Photos 
                  <%= file_field_tag "images[]", type: :file, multiple: true %>
              </span>
            </div>    
          </div>
        </div>

        <div id="photos"><%= render 'photos/list' %></div>

        <div class="row">
          <div class="form-group">
            <%= f.check_box :active %> Active
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>

      <% end %>

    </div>
  </div>
</div>